- return unless ldap_enabled?

- form = local_assigns.fetch(:form)

.form-group
  = form.label :allow_group_owners_to_manage_ldap, _('LDAP settings'), class: 'label-bold'

  .form-check
    = form.check_box :lock_memberships_to_ldap, class: 'form-check-input'
    = form.label :lock_memberships_to_ldap, class: 'form-check-label' do
      = _('Lock memberships to LDAP synchronization')
  %span.form-text.text-muted
    = _('If checked, new group memberships and permissions can only be added via LDAP synchronization')
    = link_to icon('question-circle'), help_page_path('administration/auth/ldap/index.md', anchor: 'global-group-memberships-lock')

  .form-check
    = form.check_box :allow_group_owners_to_manage_ldap, class: 'form-check-input'
    = form.label :allow_group_owners_to_manage_ldap, class: 'form-check-label' do
      = _('Allow group owners to manage LDAP-related settings')
  %span.form-text.text-muted
    = _('If checked, group owners can manage LDAP group links and LDAP member overrides')
    = link_to icon('question-circle'), help_page_path('administration/auth/ldap-ee')
